body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(assets/img/cherryblossom.gif);
    background-color: #212121;
    /* color: white; */
}

/* * {
    outline: 1px dotted red;
} */

.caption {
    background-color: blue;
}

header {
    margin: 20px 0 20px 0;
}

.link, .aspired, .fa-brands, .about, .introduction, .collaborate {
    color: white;
}

.link {
    font-size: x-large;
    text-decoration: none;
    margin: 0 50px 0 50px;
}

.link:hover {
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.mypic {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    transition: transform .2s;
}

.mypic:hover, .projItem:hover, .fa-brands:hover, .youtube_highlight:hover {
    transform:scale(1.1);
}

.frame {
    margin-top: 50px;
}

.content {
    margin: 20px 0 0 0;
}

.emphasis {
    font-size: larger;
    font-weight: bolder;
}

.emphasis:hover {
    border-radius: 10px;
}

.aspired, .about, .fa-brands:hover {
    background-color: rgb(49, 49, 224);
}

.lead, .introduction {
    margin: 25px 0 0 150px;
}

.aspired {
    padding: 10px;
    border-radius: 10px;
}

.myProject {
    text-align: center;
}

.proj {
    font-size: xx-large;
    font-weight: bolder;
}

.cardlist {
    display: flex;
    justify-content: center;
    gap: 60px;
    transition: transform .2s;
    margin: 0;
}

.projItem {
    width: 30rem;
    margin: 50px 0 0 0;
    border: 2px solid black;
}

.fa-brands {
    width: 100px;
    transition: transform .2s;
    text-align: center;
    font-size: 30px;
}

.fa-brands:hover {
    padding: 10px;
    border-radius: 10px;
}

footer {
    background-color: #212529;
}

main {
    margin: 100px 0 0 0;
    text-align: center;
}

.about {
    font-size: x-large;
    padding: 20px;
    border-radius: 10px;
}

.banner {
    width: 1000px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.youtube {
    color: #FFFFFF;
    background-color: #FF0000;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
}

.youtube_highlight {
    transition: transform .5s;
}

.maintenance {
    text-align: center;
    margin-top: 100px;
}